@import "tailwindcss";

:root {
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
}

@font-face {
  font-family: 'Minecraft';
  src: url('./assets/Minecraft.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft';
  src: url('./assets/Minecraft.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* 2. Override the default font using the Tailwind v4 @theme directive */
@theme {
  --font-sans: 'Minecraft', 'Helvetica Neue', sans-serif;
}

h1 {
  font-family: var(--heading);
  font-weight: 500;
}
